FYP.suo
FYP/bin/Debug/FYP.exe
FYP/bin/Debug/FYP.pdb
FYP/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
*.cache
FYP/obj/x86/Debug/FYP.csproj.FileListAbsolute.txt
*.exe
*.pdb
*.resources
FYP/obj/x86/Debug/TempPE/Properties.Resources.Designer.cs.dll
*.pdb
*.xlsx
FYP/bin/Debug/Menu/5Friday/6D8BE614.tmp
FYP/bin/Debug/FYP.exe
*.dll
*.reg
*.htm
FYP/bin/Debug/MicroOffice/redist.txt
*.bat
FYP/bin/Debug/MySQL Connector Net 6.6.7/CHANGES
*.HxK
*.html
FYP/Properties/Resources.Designer.cs
FYP/Properties/Resources.resx
*.dll
*.cache